# testnet
export NODE=
export CHAIN_ID=90u-2
export KEYRING=os

export FACTORY=terp1...
export MINTER=terp1...
export TERP721=terp1...
export MINTER_ID=
export FACTORY_ID=
export TERP721_CODE_ID=
export USER=terp1...
export ADMIN=terp1...